body{
    font-family: cursive;
}

header{
    background-color: #695239;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white;
    font-weight: bold;
    font-family: cursive;
    text-shadow: 2px 1px 4px black;
}

.mainSection {
    display: flex;
}

.sidebar{
    margin-top: 5px;
    width: 30%;
    /* background-color: antiquewhite; */
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;
}

.sidetab{
    background-color: antiquewhite;
    padding: 10px;
    margin: 5px;
    margin-left: 0px;
    margin-top: 0px;
    font-family: cursive;
    border-top-right-radius: 10px;
}

.sidetab:hover{
    background-color: white;
    color: #695239;
    font-weight: bold;
}

#sideInput{
    width: 90%;
    margin-right: 5px;
}

.sideInput{
    display: flex;
    flex-direction: row;
}

.mainBody{
    margin-top: 5px;
    margin-left: 5px;
    padding: 10px;
    width: 80%;
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* border: 5px dotted #695239; */
    /* border-radius: 20px 20px; */
    /* box-shadow: 2px 3px 7px black; */
}

.card{
    width: 100%;
    height: 90%;
    background-color: antiquewhite;
    box-shadow: 4px 4px 9px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card:hover{
    box-shadow: none;
}