<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./index.css" rel="stylesheet" />
</head>
<body>
    <div id="app">
        <header>
            {{headerText}}
        </header>
        <section class="mainSection">
            <div class="sidebar">
                <div class="sidetab sideInput">
                    <input type="text" v-model="addCategory" placeholder="Enter Here" id="sideInput"/>
                    <button v-on:click="addTitle">Ok</button>
                </div>
                <div class="sidetab" v-for="title of Object.keys(titles)">
                    <div v-on:click="setActive(title)">{{title}}</div>
                </div>
                
            </div>
            <div class="mainBody">
                <div class="card">
                    <h1>This is the title for the suggestion</h1>
                    <div>
                        <span>This is more like a short or long description of what it entails</span> <br />
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, 
                        voluptatem consectetur molestiae explicabo delectus cumque amet 
                        quis nemo molestias! Voluptatem esse eveniet facere non. Sed aut 
                        modi iure quis unde recusandae aspernatur voluptatibus? Expedita 
                        sassumenda reiciendis non recusandae esse delectus?
                        </p>
                    </div>
                    <div>
                        <input type="text" placeholder="Enter stakeholder's name" />
                        <button type="submit">Add stakeholder</button>
                    </div>
                    <ul>
                        <li>First stakeholder / plug</li>
                        <li>Second stakeholder / plug</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="./app.js"></script>   
</body>
</html>